.time {
    position: relative;
    font-weight: 500;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0px;
    gap: 8px;
}
.combined-shape-icon {
    width: 16.5px;
    position: relative;
    height: 10px;
}
.combined-shape-icon1 {
    width: 14.1px;
    position: relative;
    height: 10px;
}
.div {
    position: relative;
    line-height: 14px;
    font-weight: 500;
}
.battery-icon {
    width: 26.5px;
    position: relative;
    height: 12px;
    object-fit: cover;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0px;
    gap: 4px;
    text-align: right;
}
.status-bar {
    width: 1278px;
    height: 45px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 17px;
    box-sizing: border-box;
    font-family: Roboto;
}
.chrome {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.75);
}
.materials {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}
.chevron {
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.label {
    position: relative;
    font-size: 24px;
    letter-spacing: -0.43px;
    line-height: 22px;
    font-family: Roboto;
}
.button-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.leading {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 11px 0px 11px 8px;
    cursor: pointer;
    font-family: 'SF Pro';
}
.title {
    position: absolute;
    top: 11px;
    left: calc(50% - 49px);
    font-size: 24px;
    letter-spacing: -0.43px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.div1 {
    position: relative;
    line-height: 22px;
}
.trailing-button-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgba(60, 60, 67, 0.18);
}
.button-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.trailing {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 11px 16px 11px 0px;
    gap: 16px;
    text-align: right;
}
.title-and-controls {
    align-self: stretch;
    position: relative;
    background-color: #fff;
    height: 44px;
    z-index: 1;
}
.navigation-bar {
    align-self: stretch;
    height: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 4px;
    box-sizing: border-box;
    position: relative;
    gap: 3px;
    font-size: 17px;
    color: #007aff;
}
.header-text {
    align-self: stretch;
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
}
.header {
    width: 1204px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 24px 16px 7px;
    box-sizing: border-box;
}
.circle {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    border-radius: 50%;
    background-color: #007aff;
    width: 22px;
    height: 22px;
}
.div5 {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    line-height: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}
.edit-button1 {
    align-self: stretch;
    width: 24px;
    position: relative;
}
.edit-button {
    height: 44px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 12px 0px 0px;
    box-sizing: border-box;
}
.image-icon {
    width: 42px;
    position: relative;
    height: 42px;
    object-fit: cover;
}
.image1 {
    height: 43.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image {
    height: 44px;
    overflow: hidden;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 8px 0px 0px;
    box-sizing: border-box;
}
.title1 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.43px;
    line-height: 22px;
    font-weight: 800;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 22px;
    flex-shrink: 0;
}
.details {
    width: 292px;
    position: relative;
    font-size: 13px;
    letter-spacing: -0.08px;
    line-height: 18px;
    display: none;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 18px;
    flex-shrink: 0;
}
.title-and-detail {
    flex: 1;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.detail1 {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 25%;
    left: 4.44%;
    letter-spacing: -0.43px;
    line-height: 22px;
    display: flex;
    align-items: center;
}
.detail {
    width: 45px;
    position: relative;
    height: 32px;
    display: none;
    text-align: right;
    color: rgba(60, 60, 67, 0.6);
}
.symbol1 {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 9px);
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 22px;
}
.symbol {
    width: 16px;
    position: relative;
    height: 32px;
    display: none;
}
.speaker-icon {
    width: 29.4px;
    position: relative;
    height: 22.7px;
}
.checkmark1 {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 8px);
    line-height: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 22px;
}
.checkmark {
    width: 12px;
    position: relative;
    height: 32px;
    display: none;
    font-family: 'SF Pro';
}
.drill-in1 {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 6px);
    line-height: 22px;
    font-weight: 600;
}
.drill-in {
    width: 8px;
    position: relative;
    height: 32px;
    display: none;
    color: rgba(60, 60, 67, 0.3);
    font-family: 'SF Pro';
}
.contents-trailing {
    width: 88px;
    height: 132px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 44px 0px 0px;
    box-sizing: border-box;
    gap: 16px;
}
.grabber1 {
    position: absolute;
    top: calc(50% - 11px);
    left: 13.5px;
    line-height: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}
.grabber {
    width: 49px;
    position: relative;
    border-left: 0.5px solid #c6c6c8;
    box-sizing: border-box;
    height: 44px;
    display: none;
    color: rgba(60, 60, 67, 0.3);
    font-family: 'SF Pro';
}
.accessories-and-grabber {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: 17px;
    color: #007aff;
}
.title-and-trailing-accessories {
    align-self: stretch;
    flex: 1;
    border-bottom: 0.3px solid rgba(84, 84, 86, 0.34);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Roboto;
}
.contents1 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 16px;
    gap: 4px;
}
.row {
    align-self: stretch;
    height: 132px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 30px;
    box-sizing: border-box;
}
.info2 {
    width: 16px;
    position: relative;
    height: 32px;
    display: none;
    font-family: Roboto;
}
.checkmark2 {
    width: 12px;
    position: relative;
    height: 32px;
    display: none;
}
.drill-in2 {
    width: 8px;
    position: relative;
    height: 32px;
    display: none;
    color: rgba(60, 60, 67, 0.3);
}
.contents-trailing1 {
    width: 53px;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 0px 20px;
    box-sizing: border-box;
    gap: 16px;
    z-index: 0;
}
.knob {
    position: absolute;
    top: calc(50% - 62px);
    left: 124px;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.12);
    border-radius: 100px;
    background: radial-gradient(50% 50% at 50% 50%, #333, #000);
    width: 124px;
    height: 124px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.track {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100px;
    background-color: rgba(120, 120, 128, 0.16);
    width: 759px;
    height: 100px;
    overflow-x: auto;
}
.track-wrapper {
    width: 759px;
    position: relative;
    height: 100px;
    z-index: 1;
}
.contents-trailing2 {
    width: 72px;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 24px 20px 0px;
    box-sizing: border-box;
    gap: 16px;
    z-index: 2;
}
.separator {
    width: calc(100% - 16px);
    position: absolute;
    margin: 0 !important;
    right: 0px;
    bottom: -0.3px;
    left: 16px;
    background-color: rgba(84, 84, 86, 0.34);
    height: 0.3px;
    z-index: 3;
}
.slider {
    width: 948px;
    height: 396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 16px;
    box-sizing: border-box;
    position: relative;
    gap: 16px;
    font-size: 17px;
    color: #007aff;
}
.grouped-list {
    width: 1204px;
    border-radius: 10px;
    background-color: #fff;
    height: 528px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 14.5px;
    color: #fff;
    font-family: 'SF Pro';
}
.content-area {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 265px;
    font-size: 13px;
    color: rgba(60, 60, 67, 0.6);
}
.contents {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1278px;
    height: 834px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.dot {
    width: 5px;
    position: relative;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    height: 5px;
}
.window-grabber {
    position: absolute;
    top: 0px;
    left: calc(50% - 20px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9.5px;
    gap: 3px;
}
.exampleslist-ipad {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f2f2f7;
    width: 1280px;
    height: 832px;
}
.volumen {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: #000;
    font-family: Roboto;
}